 
img{
   height: 100px;
   width: 130px;
}
   


body{
   background-color: blue;
}



p{
   color: crimson;
}



h1{
   color: crimson;
}




@media (max-width: 320px) {
	p {
		color: rgb(21, 255, 0);
	}
}

@media (max-width: 320px) {
	h1 {
		color: rgb(9, 255, 0);
	}
}


@media (max-width: 320px) {
body {
	background-color: rgb(251, 75, 6);
	}
}

@media (max-width: 320px) {
	img{
      height: 100px;
      width: 130px;
   }
}







                   







































































































































































































































































































































































                     













































































































