
	
body{
	background-color: grey;
}

 img{
	height: 200px;
	width: 200px;
 }



 img{
	height: 200px;
	width: 200px;
 }





@media(max-width:320px){
	p{
		color:blue;
	}
}

 @media (max-width: 320px) {
	body{
		background-color: rgb(243, 3, 103);
	}

@media (max-width: 320px) {
	p {
		color: rgb(47, 0, 255);
	 }
	}
	
	





















		@media (max-width: 320px) {
			p {
				color: rgb(47, 0, 255);
			 }
			}
			@media (max-width: 320px) {
				p {
					color: rgb(47, 0, 255);
				 }
				}
	 @media (max-width: 320px) {
		h1{
			color: rgb(47, 0, 255);
		 };
		
	 @media (max-width: 320px) {
		p {
			color: rgb(47, 0, 255);
		 };


	 @media (max-width: 320px) {
		elem1{
			width: 300px;
			height: 100px;
			color: white;
			background-color:rgb(69, 9, 231);
		}
		#elem2{
			width: 300px;
			height: 100px;
			color: white;
			background-color:rgb(226, 132, 17);
		}
		#elem3{
			width: 300px;
			height: 100px;
			color: white;
			background-color:rgb(0, 41, 128);
		}
	




		@media (max-width: 320px) {
			img{
				height: 200px;
				width: 200px;
			 }
		}


			
			 @media (max-width: 320px) {	
			 img{
				height: 200px;
				width: 200px;
			 }
			 
			 }

 
 
 #elem1{
	width: 300px;
	height: 100px;
	color: white;
	background-color:purple;
}
#elem2{
	width: 300px;
	height: 100px;
	color: white;
	background-color:bisque;
}
#elem3{
	width: 300px;
	height: 100px;
	color: white;
	background-color:purple;
}
body {
background-color: grey;
.button {
	back
	border: none;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	}
  </style>
</head>
<body>
  <a href="https://www.w3docs.com/" class="button">Click Here</a>
</body>
</html>
.button {
	background-color: #FF4500;
	border: none;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	}
  </style>
</head>
<body>
  <a href="https://www.w3docs.com/" class="button">Click Here</a>
</body>
</html
.button {
	background-color: #FF4500;
	border: none;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	}
  </style>
</head>
<body>
  <a href="https://www.w3docs.com/" class="button">Click Here</a>
</body>
</html
.button {
.button {
	background-color: #FF4500;
	border: none;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	}
  </style>
</head>
<body>
  <a href="https://www.w3docs.com/" class="button">Click Here</a>
</body>
</html
.button {
	background-color: #FF4500;
	border: none;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	}
  </style>
</head>
<body>
  <a href="https://www.w3docs.com/" class="button">Click Here</a>
</body>
</html
.button {
	background-color: #FF4500;
	border: none;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	}
  </style>
</head>
<body>
  <a href="https://www.w3docs.com/" class="button">Click Here</a>
</body>
</html
</html
.button {
	background-color: #FF4500;
	border: none;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	}
  </style>
</head>
<body>
  <a href="https://www.w3docs.com/" class="button">Click Here</a>
</body>
</html
.button {
	background-color: #FF4500;
	border: none;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	}
  </style>
</head>
<body>
  <a href="https://www.w3docs.com/" class="button">Click Here</a>
</body>
</html
.button {
	background-color: #FF4500;
	border: none;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 2
<body>
  <
  .button {
	background-color: #FF4500;
	border: none;
	color: white;
	padding: 20px 34px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 2
<body>
  <
  @media (max-width: 320px) {
    